<a href="https://colab.research.google.com/github/Lednew87/first_scikit_learn/blob/main/scikit_learn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [7]:
#Importando um arquivo para dataset:
df_adv_data = pd.read_csv('/Advertising.csv', index_col=0)

In [8]:
#Demosntrando os primeiros cinco dados:
df_adv_data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [9]:
#Visualizando o tamanho do dataset:
df_adv_data.size

800

In [10]:
#Visualizando a forma do dataset:
df_adv_data.shape

(200, 4)

In [12]:
#Visualizando as colunas do dataset:
df_adv_data.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [13]:
#Criar um objeto de feição das colunas
X_feature = df_adv_data[['Newspaper','Radio','TV']]

In [14]:
#Visualizando o objeto:
X_feature.head()

   Newspaper  Radio     TV
1       69.2   37.8  230.1
2       45.1   39.3   44.5
3       69.3   45.9   17.2
4       58.5   41.3  151.5
5       58.4   10.8  180.8

In [15]:
#Criando um objeto de destino da coluna de vendas, que é uma resposta no conjunto de dados:
Y_target = df_adv_data[['Sales']]

In [16]:
#Visualizando o objeto de destino:
Y_target.head()

   Sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [20]:
#Visualizando a forma do recurso:
X_feature.shape

(200, 3)

In [21]:
#Visualizando a forma do objeto alvo:
Y_target.shape

(200, 1)

In [24]:
#Dados de teste e treinamento divididos:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X_feature,Y_target,random_state=1)

In [26]:
#Visualizando a forma dos conjuntos de dados de teste para recurso e resposta:
print (x_train.shape) 
print (y_train.shape)
print (x_test.shape)
print (y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

In [28]:
#Modelo de regressão linear:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [30]:
#Visualizando as interceptações e coeficientes:
print (linreg.intercept_)
print (linreg.coef_)

[2.87696662]
[[0.00345046 0.17915812 0.04656457]]

In [31]:
#Predições:
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

In [33]:
#Importando bibliotecas requiridas para cálculo MSE (mean square error), ou erro quadrático médio:
from sklearn import metrics
import numpy as np

In [36]:
#Calculando o MSE (mean square error), ou erro quadrático médio:
print (np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.404651423032895